@import "_reset.scss";

section {
    width: 100%;
    padding: 100px 0;

    .inner {
        width: 1180px;
        margin: 0 auto;

        h1 {
            font: normal 50px/1 'aria';
            color: #555;
        }

        #gallery {
            #searchBox {
                width: 100%;
                padding: 50px 0;
                font-size: 0;
                text-align: right;

                #search { //search dlsvntckd
                    width: 300px;
                    height: 30px;
                    border: 1px solid #333;
                    padding-left: 10px;
                    
                    .btnSearch { // search 버튼
                        width: 80px;
                        height: 30px;
                        background: #333;
                        font: bold 12px/30px arial;
                        color: #fff;
                        border: none;
                        cursor: pointer;
                        vertical-align: top;
                    }

                    p { // 경고문구
                        font: 12px/1 "맑은 고딕";
                        color: hotpink;
                        margin-top: 10px;
                    }
                }

            }

            #wrap {
                width: 100%;

                .loading {  // 로딩 이미지
                    width: 100px;
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: 1s;

                    &.off{ // off 클래스 걸면 안보이게 처리
                        opacity: 0;
                    }
                }
            }

            #list { // 이미지로딩이 되면 opacity:0 에서 1로
                width: 100%;
                opacity: 1;
                // opacity: 0;
                transform: translateY(100px);
                transition: 1s;

                &.on {
                    opacity: 1;
                    transform: translate(0);
                }

                // 데이터를 불러와서 article로 동적생성
                article {
                    float: left;
                    width: 25%;
                    padding: 10px;

                    >div {
                        width: 100%;
                        padding: 20px;
                        box-shadow: 5px 5px 20px rgba(0,0,0, 0.1);
                        border-radius: 5px;

                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-content: space-between;

                        a {
                            display: block;
                            width: 100%;

                            >img {
                                width: 100%;
                                filter: grayscale(100%);
                            }
                        }

                        h2 {
                            width: 100%;
                            font: bold 12px/1 arial;
                            color: #555;
                            margin-top: 10pxs;
                        }

                        p {
                            width: 100%;
                            font: 12px/1 'arial';
                            color: #888;
                            margin-top: 10px;
                        }

                        div {
                            width: 100%;
                            margin-top: 20px;
                            display: flex;
                            gap: 5px;
                            align-items: center;
                            justify-content: flex-start;

                            .profile {
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                            }

                            strong {
                                font: normal 1px/1 'arial' ;
                                color: orange;
                                margin-left: auto;
                            }
                        }           
                    }
                    // article에 hover 했을 때 img 색 필터제거
                    &:hover a>img {
                        filter: grayscale(0)
                    }
                }

                // 검색하신 검색어의 결과가 없ㅅ브니다 경고문구용p 태그
                p {
                    font: 24px/1 ;
                    color: #555;
                }
            }
        }
    }
}